<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de movimientos</title>
</head>
<body>
<h1>Lista de movimientos</h1>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/movimientos/modificar}">Nuevo Movimiento</a>
<br>
<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Empresa
        <th>Concepto</th>
        <th>Producto</th>
        <th>Monto</th>
        <th>Empleado</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tr th:each="movimiento: ${movimientos}">
        <td th:text="${#dates.format(movimiento.fecha, 'dd-MMM-yyyy')}"></td>
        <td th:text="${movimiento.empresa.nombreEmpresa}"></td>
        <td th:text="${movimiento.conceptoMovimiento}"></td>
        <td th:text="${movimiento.producto.nombreProducto}"></td>
        <td th:text="${#numbers.formatDecimal(movimiento.montoMovimiento, 0, 'POINT', 0, 'COMMA')}"></td>
        <td th:text="${movimiento.empleado}"></td>
        <td><a th:href="@{/movimientos/editar/} + ${movimiento.idMovimientoDinero}" th:text="Editar"></a></td>
        <td><a th:href="@{/movimientos/eliminar/} + ${movimiento.idMovimientoDinero}" th:text="Eliminar"></a></td>
    </tr>
</table>
</body>
</html>