<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/productos/crear}">Nuevo Producto</a>
<br>
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tr th:each="producto : ${productos}"   >
        <td th:text="${producto.nombreProducto}"></td>
        <td><a th:href="@{/productos/editar/} + ${producto.idProducto}" th:text="Editar"></a></td>
        <td><a th:href="@{/productos/eliminar/} + ${producto.idProducto}" th:text="Eliminar"></a></td>
    </tr>

</table>

</body>
</html>