<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
<h1>Datos de Productos</h1>
<form th:action="@{/productos/guardar}" method="post" th:object="${productos}">
    <input type="hidden" name="idProducto" th:field="*{idProducto}">
    <label for="nombreProducto">Nombre </label>
    <input type="text" name="nombre" th:field="*{nombreProducto}"/>
    <span th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}">Error Nombre del producto</span>
    <br>
    <input type="submit" name="guardar" value="Guardar">

</form>
</body>
</html>