<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Datos del usuario</title>
</head>
<body>
  <h1>Datos de usuario</h1>
  <form th:action="@{/guardar}" method="post" th:object="${empleado}">
      <label for="nombre">Nombre </label>
      <input type="text" name="nombre" th:field="*{nombre}"/>
      <br>
      <label for="documento">documento </label>
      <input type="text" name="documento" th:field="*{documento}"/>
      <br>
      <label for="empresa"> Empresa </label>
      <select th:field="*{empresa.idEmpresa}" name="empresa">
          <option value="0" selected> Seleccione Empresa</option>
          <option th:each="empresa: ${empresas}"
                  th:value="${empresa.idEmpresa}"
                  th:text="${empresa.nombreEmpresa}"
          ></option>
      </select>
      <br>
      <label for="correo">Correo </label>
      <input type="email" name="correo" th:field="*{correo}"/>
      <br>
      <label for="direccion">Dirección </label>
      <input type="text" name="direccion" th:field="*{direccion}"/>
      <br>
      <label for="telefono">Telefono </label>
      <input type="text" name="telefono" th:field="*{telefono}"/>
      <br>
      <label for="rol">Rol </label>
      <select th:field="*{rol.idRol}" name="rol">
          <option value="0" selected> Seleccione rol</option>
          <option th:each="rol: ${roles}"
                  th:value="${rol.idRol}"
                  th:text="${rol.descripcion}"
          ></option>
      </select>
      <br>

      <input type="submit" name="guardar" value="Guardar">
  </form>
</body>
</html>