<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas</title>
</head>
<body>
<h1>Lista de empresas</h1>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/empresas/crear}">Nueva Empresa</a>
<br>
<table border="1">
    <tr>
        <th>Nit</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tr th:each="empresa : ${empresas}" th:if="${empresa.estado}">
        <td th:text="${empresa.nit}"></td>
        <td th:text="${empresa.nombreEmpresa}"></td>
        <td th:text="${empresa.direccion}"></td>
        <td th:text="${empresa.telefono}"></td>
        <td><a th:href="@{/empresas/editar/} + ${empresa.idEmpresa}" th:text="Editar"></a></td>
        <td><a th:href="@{/empresas/eliminar/} + ${empresa.idEmpresa}" th:text="Eliminar"></a></td>
    </tr>

</table>

<br>
</body>
</html>