<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
    <meta charset="UTF-8">
    <title>Empresas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}">
</head>
<body>
<header class="container" th:fragment="header">
    <h2>Sistema de Gestión de Ingresos y Gastos</h2>
</header>
<h1>Lista de empresas</h1>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/empresas/crear}">Nueva Empresa</a>
<br>
<div class="container-sm">
    <table class="table table-striped center">
        <tr>
            <th>Nit</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="empresa : ${empresas}" th:if="${empresa.estado}" class="table-secondary">
            <td th:text="${empresa.nit}"></td>
            <td th:text="${empresa.nombreEmpresa}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td><a th:href="@{/empresas/editar/} + ${empresa.idEmpresa}" th:text="Editar"></a></td>
            <td><a th:href="@{/empresas/eliminar/} + ${empresa.idEmpresa}" th:text="Eliminar"></a></td>
        </tr>

    </table>
</div>
<footer th:fragment="footer">
    <br><br>
    <p> Derechos reservados @copyright <a href="http://www.google.com.co" target="_blank">Sitio Web</a></p>
</footer>
<script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
<script th:href="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>