<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<head>
  <meta charset="UTF-8">
  <title>Empresas</title>
</head>
<body>
<h1>Datos de empresa</h1>
<form th:action="@{/guardar}" method="post" th:object="${empresa}">
  <input type = "hidden" name ="idEmpresa" th:field ="*{idEmpresa}">
  <label for="nit">Nit </label>
  <input type="text" name="nit" th:field="*{nit}"/>
  <br>
  <label for="nombreEmpresa">Nombre </label>
  <input type="text" name="nombre" th:field="*{nombreEmpresa}"/>
  <br>
  <label for="direccion">Direccion </label>
  <input type="text" name="direccion" th:field="*{direccion}"/>
  <br>
  <label for="telefono">Telefono </label>
  <input type="text" name="telefono" th:field="*{telefono}"/>
  <br>
  <input type="submit" name="guardar" value="Guardar">

</form>

</body>
</html>