<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gestión de Ingresos y Gastos</title>
</head>
<body>

    <h1>Menu</h1>
    <h1>Sistema de Gestión de Ingresos y Gastos</h1>
    <p th:text="${mensaje}"> lista </p>
    <a th:href="@{/empleados/list}">Sistema de gestión de Usuarios</a>
    <br>
    <a th:href="@{/empresas/list}">Sistema de gestión de Empresas</a>
    <br>
    <a>Sistema de gestión de Movimientos</a>
    <br>
</body>
</html>
