<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Sistema de Gestión de Ingresos y Gastos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.0.0/css/all.min.css}">


</head>
<body>
<header class = "container"th:replace="layout/plantilla :: header"></header>
<h4>Menu</h4>
<p th:text="${mensaje}"> lista </p>
<div class="container text-center">
    <div class="row g-5">
        <div class="col-2">
            <div class="p-5 border bg-light"><a th:href="@{/empleados/list}">Sistema de Gestión de Usuarios</a></div>
        </div>
        <div class="col-2">
            <div class="p-5 border bg-light"><a th:href="@{/empresas/list}">Sistema de Gestión de Empresas</a></div>
        </div>
        <div class="col-2">
            <div class="p-5 border bg-light"><a th:href="@{/movimientos/list}">Sistema de Gestión de Movimientos</a>
            </div>
        </div>
        <div class="col-2">
            <div class="p-5 border bg-light"><a th:href="@{/productos/list}">Sistema de Gestión de Productos</a>
            </div>
        </div>
    </div>


    <!--    <a th:href="@{/empleados/list}">Sistema de gestión de Usuarios</a>-->
    <!--    <br>-->
    <!--    <a th:href="@{/empresas/list}">Sistema de gestión de Empresas</a>-->
    <!--    <br>-->
    <!--    <a th:href="@{/movimientos/list}">Sistema de gestión de Movimientos</a>-->
    <!--    <br>-->

    <footer th:replace="layout/plantilla :: footer"></footer>
    <script th:src="@{/webjars/bootstrap/5.1.0/js/bootstrap.bundle.min.js}"></script>
    <script th:href="@{/webjars/popper/js/2.9.3/umd/popper.min.js}"></script>
</body>
</html>
