<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<br><br><br>
<h4 class="modal-dialog text-center ">Sistema de Gestión de Ingresos y Gastos</h4>
<br><br><br><br>

<div class="modal-dialog text-center ">
    <div class="col-sm-4 main-section">
        <div class="modal-content">
            <div class="col-12 logo-img">
                <img src="img/logo.png">
            </div>
            <h5 class="">Ingreso al Sistema</h5><br>
            <form action="" method="" class="col-12">
                <div class="form-group" id="user-group">
                    <input type="hidden" name="action" value="verificarlogin">
                    <input type="email" class="form-control" name="idUsuario" placeholder="Correo"><br>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" name="clave" placeholder="Password"><br>
                </div>
                <button type="submit" class="btn btn-outline-success" id="lateral1"> Ingresar</button>
            </form>
            <br>

        </div>
    </div>
</div>

</body>
</html>