<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<!--    <h1>Sistema de Gestión de Ingresos y Gastos</h1>-->
<!--    <label for="correo">Correo </label>-->
<!--    <input type="text" name="correo" th:field="*{correo}"/>-->
<!--    <br>-->
<!--    <br>-->
<!--    <label for="password">Password </label>-->
<!--    <input type="password" name="password" th:field="*{password}"/>-->
<!--    <br>-->
<!--    <br>-->
<!--    <input type="submit" name="guardar" value="Guardar">-->
</body>
</html>